/* GENERAL */
#budget-calculator {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #313c51;
  font-size: 20px;

  background-image: url('banner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
h2 {
  margin-top: 0;
  margin-bottom: 15px;
}
  
label {
  display: block;
  margin-bottom: 10px;
}

.top-label {
  margin: 0px;
}
  
input[type="number"],
input[type="button"],
input[type="text"] {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-size: 18px;
  width: 100px;
  text-align: center;
}

/* RESULT */
input[type="text"] {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.7s ease-out;
  width: 150px;
  height: 30px;
  color: #313c51;
  cursor: pointer;
}
#result.clicked {
  background-color: #99c4ff;
  transition: background-color 0s ease-out;
}


/* SAME-LINE LABEL AND INPUT */
.label-group {
  margin-bottom: 8px;
}

.in-line-container {
  display: flex;
  align-items: center;
}

.in-line-label {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 1;
}

/* EXTRA INFO ON HOVER */
label:hover:after:not([data-info=""]) {
  content: attr(data-info);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  content: attr(data-info);
}

/* BIG GROUP */
.big-group {
  border-radius: 10px;
  font-size: medium;
  display: inline-block;
  padding: 5px;
  width: 100%;
  height: 100%;
}

/* COLUMN VIEW */
.meta-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 30% 30%;
  padding-left: 0%;
  padding-right: 3%;
  justify-content: center;
  margin-bottom: 20px;
}

.meta-column {
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

/* ESTIMATE BOX */
.estimated-label {
  font-size: 24px;
  font-weight: bold;
}

.result-container {
  /* background-color: red; */
  justify-content: center;
  width: 92%;
}

/* LINE */
.decorative-line {
  height: 9px;
  width: 150px;
  margin: 20px;
  margin-top: 5px;
  background-color: #f0e545;
  border-radius: 10px;
}


/* NUMBER INPUT BOX */
input[type="number"] {
  color: #313c51;
  padding: 2px;
}

input[type="number"]:hover {
  box-shadow: 0 0 0 1px #498DFC;
}

input[type="number"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #498DFC;
}

input[type="text"]:focus-visible {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#attendees, #venue {
  margin-left: 20px;
  margin-bottom: 0;
}

/* EXTRA INFO ON HOVER */
.tooltip{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(calc(-50% - 5px));
  left: 95%;  
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  pointer-events: auto;
}


.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) translateX(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8) transparent transparent;
}

.unit {
  font-size: 16px;
  color: #a0a0b0;
}

.description {
  color: #a0a0aa;
  font-size: 12px;
}

::selection {
  background-color: #99c4ff;
}

@media (max-width: 1023px) {
  .meta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .meta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .in-line-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
  }
  .big-group >.in-line-container {
    flex-direction: column-reverse;
  }
}
