#budget-calculator {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
  color: #313c51;
  font-size: 20px;

  background-image: url('banner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
#budget-calculator h2 {
  margin-top: 0;
}
  
#budget-calculator label {
  display: block;
  margin-bottom: 10px;
}
  
#budget-calculator input[type="number"],
#budget-calculator input[type="button"],
#budget-calculator input[type="text"] {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #eee;
  font-size: 18px;
  width: 100px;
  text-align: center;
}

/* "CALCULATE" BUTTON
#budget-calculator input[type="button"] {
  background-color: #498DFC;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}

"CALCULATE" BUTTON HOVER
#budget-calculator input[type="button"]:hover {
  background-color: #498DFC;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
} */

/* RESULT */
#budget-calculator input[type="text"] {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  width: 150px;
  height: 30px;
}

/* SAME-LINE LABEL AND INPUT */
.label-group {
  margin-bottom: 8px;
}

.in-line-container {
  display: flex;
  align-items: center;
}

.in-line-label {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
}

/* EXTRA INFO ON HOVER */
label:hover:after:not([data-info=""]) {
  content: attr(data-info);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  content: attr(data-info);
}

/* BIG GROUP */
.big-group {
  border-radius: 10px;
  font-size: medium;
  display: inline-block;
  padding: 5px;
  width: 100%;
  height: 100%;
}

/* COLUMN VIEW */
.meta-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 25% 30% 30%;
  padding-left: 0%;
  padding-right: 3%;
  justify-content: center;
  margin-bottom: 20px;
}

.meta-column {
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

/* ESTIMATE BOX */
.estimated-label {
  font-size: 24px;
  font-weight: bold;
}

.result-container {
  /* background-color: red; */
  justify-content: center;
  width: 92%;
}

/* LINE */
.decorative-line {
  height: 9px;
  width: 150px;
  margin: 20px;
  background-color: #f0e545;
  border-radius: 10px;
}


/* NUMBER INPUT BOX */
#budget-calculator input[type="number"] {
  color: #313c51;
  padding: 2px;
}

#budget-calculator input[type="number"]:hover {
  box-shadow: 0 0 0 1px #498DFC;
}

#budget-calculator input[type="number"]:focus-visible {
  box-shadow: 0 0 0 2px #498DFC;
}
